footer {
    padding: 10px;
    font-size: 1.2rem;
    border-top: var(--border);
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  footer img {
    width: 30px;
    height: 30px;
    filter: invert(64%) sepia(11%) saturate(14%) hue-rotate(46deg) brightness(89%)
      contrast(85%);
  }