.formContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px auto;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  .formContainer button,
  .formContainer input,
  .formContainer select,
  .formContainer textarea {
    border: var(--border);
    padding: 10px 20px;
    color: var(--text);
    border-radius: 10px;
    box-shadow: var(--shadow);
    font-size: 1.2rem;
  }
  .formContainer input,
  .formContainer select,
  .formContainer textarea {
    width: 100%;
  }
  .formContainer textarea {
    height: 200px;
  }
  .formContainer button:active {
    box-shadow: none;
    background-color: var(--bg3);
  }
  .formErrors {
    text-align: left;
    color: crimson;
    font-size: 1.05rem;
  }